.forget{
    display: flex;
    align-content: center;
    justify-content: center;
    margin:5em auto;
    width: 100vh;
}
#forgot_password_button{
    display: flex;
   width: 10em;
   margin:5em auto;
   align-content: center;
  justify-content: center;
   
}